@model List<TodoExample.Models.TodoItem>

@{
    
}

<h1>Stats</h1>
<div>
    <p>Total: @Model.Count</p>
</div>
<div>
    <p>Not Done: @Model.Count(x => !x.Done)</p>    
</div>
<div>
    <p>Done: @Model.Count(x => x.Done)</p>
</div>

<hr/>
