@page "{filterCategory?}"
@using TodoExample.Models
@model TodoExample.Pages.Todo.Index

@{
    Layout = "Shared/_Layout";
@*     @functions { *@
@*         public List<Todo> Todos { get; set; } *@
@* *@
@*         public void OnGet() *@
@*         { *@
@*             Todos = new List<Todo>(); *@
@*             Random r = new Random(); *@
@*             for (int i = 0; i < r.Next(3, 10); i++) *@
@*             { *@
@*                 Todos.Add(new Todo() { Id = 1, Description = "Test", Done = r.NextDouble() >= 0.5});     *@
@*             } *@
@*         } *@
@* *@
@*         public void OnPost() *@
@*         { *@
@*             //Message = "OnPost"; *@
@*         } *@
@*     } *@
}



<h1>Todo Example!</h1>
<tooltip></tooltip>

<partial name="_TodoStats" model="Model.Todos.ToList()"/>
<ul>
    @foreach (var todo in Model.Todos)
    {
        <li>@todo.Description -- 
            @todo.Done @Html.DisplayFor(x => todo.DueDate) --
            @todo.Category.Name
            <form method="post">
                <input name="todoId" type="hidden" value="@todo.TodoItemId"/>
                <button type="submit" asp-page-handler="delete">Delete</button>
                <button type="submit" asp-page-handler="edit">Edit</button>
            </form>
        </li>    
    }
</ul>
<form method="get">
    Search: <input type="text" name="filterDescription"/><br>
    Completed: <input type="checkbox" name="filterDone" value="true"/><br>
    <button type="submit">Filter</button>
</form>

<hr><hr>

<form method="post">
    @if (Model.AddUpdateItem != null && Model.AddUpdateItem.TodoItemId != 0)
    {
        @Html.HiddenFor(x => x.AddUpdateItem.TodoItemId)
    }
    <div>
        <label asp-for="AddUpdateItem.Description"></label>
        <input asp-for="AddUpdateItem.Description"/>
        <span asp-validation-for="AddUpdateItem.Description"></span>
    </div>
    <div>
        @Html.LabelFor(x => x.AddUpdateItem.Done)
        @Html.CheckBoxFor(x => x.AddUpdateItem.Done)
        @Html.ValidationMessageFor(x => x.AddUpdateItem.Done)
        <span asp-validation-for="AddUpdateItem.Done"></span>
    </div>
    <div>
        @Html.LabelFor(x => x.AddUpdateItem.DueDate)
        <input type="date" asp-for="AddUpdateItem.DueDate"/>
        @Html.ValidationMessageFor(x => x.AddUpdateItem.DueDate)
        <span asp-validation-for="AddUpdateItem.DueDate"></span>
        
    </div>
    
    <div>
        @Html.LabelFor(x => x.AddUpdateItem.CategoryId)
        <select asp-for="AddUpdateItem.CategoryId" asp-items="@Model.Categories"></select>
    </div>
    
    
    @if (Model.AddUpdateItem == null || Model.AddUpdateItem.TodoItemId == 0)
    {
        <button type="submit" asp-page-handler="Add">Add</button>
    }
    else
    {
        <button type="submit" asp-page-handler="Update">Update</button>
    }

    <button type="submit" asp-page-handler="Cancel">Cancel</button>
</form>


@* <hr>  *@
@* <h1>With Simple Post Parameters</h1> *@
@* <form method="post" asp-page-handler="add"> *@
@*     <div> *@
@*         <label>Description</label> *@
@*         <input name="description" type="text"/> *@
@*     </div> *@
@*     <div> *@
@*         <label>Completed</label> *@
@*         <input name="done" type="checkbox"/> *@
@*     </div>     *@
@*     <button type="submit">Add</button> *@
@* </form> *@
@* *@
@* <h1>With Modelbinding</h1> *@
@* <form method="post" asp-page-handler="AddWithModelBinding"> *@
@*     <div> *@
@*         <label>Description</label> *@
@*         <input name="description" type="text"/> *@
@*     </div> *@
@*     <div> *@
@*         <label>Completed</label> *@
@*         <input name="done" value="true" type="checkbox"/> *@
@*     </div>     *@
@*     <button type="submit">Add</button>     *@
@* </form> *@

