@model Microsoft.EntityFrameworkCore.DbSet<TodoExample.Models.Category>

<div>
    <h1>Categories Navigation</h1>
    <ul>
        @foreach (var category in Model)
        {
            <li><a href="~/Todo/@category.Name">@category.Name</a></li>    
        }
    </ul>
</div>